<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ResourceTypeMapper">

    <select parameterType="map" id="getResourceTypeList" resultMap="ResourceTypeResult">
        select codigo, nombre, descripcion, horaminima, horamaxima from tiporecurso
    </select>


    <resultMap type="ResourceType" id="ResourceTypeResult">
        <id property="codigo" column="codigo"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="horaMinima" column="horaminima"/>
        <result property="horaMaxima" column="horamaxima"/>
    </resultMap>
</mapper>